* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,footer{
  background-color: lightgreen;
  min-height: 100px;
  border: 1px solid black;
  
}

header{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.header-navigation{
  display: flex;
  justify-content: flex-end;
}

.header-title{
  margin-left: 20px;
}

.nav-link{
  margin-right: 20px;
}

.main-banner {
  background-color: lightsalmon;
  min-height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.blogposts {
  background-color: lightblue;
}

.blogpost {
  min-height: 100px;
  border: 1px solid black;
  padding:20px;
}
.blogpost-thumbnail{
  width: 100%;
}
.blogpost-preview, .blogpost-title{
  margin: 10px 0;
}
.contact-form {
  background-color: lightyellow;
  min-height: 100px;
  border: 1px solid black;
}

.d-none {
  display: none;
}

footer{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;

}

@media only screen and (min-width: 600px) {
  body {
    width: 600px;
    margin: 0 auto;
  }

  .d-sm-block {
    display: block;
  }

  .blogposts {
    display: flex;
    flex-wrap: wrap;
  }

  .blogpost {
    width: 50%;
  }
}

@media only screen and (min-width: 800px) {
  body {
    width: 800px;
  }

  .blogpost {
    width: 33.33%;
  }
}
